.mainAppart {
    font-weight: 500;
}
/* Section infomations logements */
.introductionAppart {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: default;
}
/* Section description / équipements */
.detailsAppart {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
/* Div pour le titre, le lieu et les tags */
.mainIntroduction {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}
.h2Appart {
    margin: 0;
    font-weight: 500;
    font-size: 1.8em;
}
.containerTag {
    display: flex;
    flex-wrap: wrap;
}
.tags {
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    white-space: nowrap;
    padding: 5px 20px 5px 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 0.8em;
}
/* Div informations de l'hote */
.informationHost {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Div photo et nom de l'hote */
.host {
    display: flex;
    align-items: center;
}
.hostName {
    display: flex;
    flex-direction: column;
    text-align: right;
    cursor: default;
}
.hostPicture{
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-left: 10px;
}
/* Div pour la note et les étoiles */
.ratingStars {
    text-align: right;
}
.starNoColor {
    color: #E3E3E3;
}
.stars {
    margin-left: 5px;
}

@media (max-width: 576px) {
    .introductionAppart {
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .mainIntroduction {
        width: 100%;
    }

    .informationHost {
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 10px;
    }

    .hostPicture {
        height: 32px;
        width: 32px;
    }

    .detailsAppart {
        flex-direction: column;
        gap: 0;
    }
}