.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    padding: 40px 60px 40px 60px;
}
/* Logo Kasa */
.img-kasa {
    width: 17%;
}
/* Navigation enter les pages */
.ul-nav {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
.li-nav {
    font-size: 1.3em;
    margin-left: 45px;
}
.a-nav{
    display: inline-block;
    position: relative;
    transition: 0.4s all ease;
    color: #FF6060;
}
.a-nav:hover {
    color: #FF6060;
    transition: 0.4s all ease;
}
.a-nav::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
    background-color: #FF6060;
}
.a-nav:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width: 576px) {
    .header {
       padding: 15px;
    }

    .img-kasa {
        width: 35%;
    }

    .li-nav {
        margin-left: 25px;
    font-size: 0.7em;
    text-transform: uppercase;
    /* gap: 10px; */
    margin-right: 10px;
    }
}